<h1>Welcome to my Sinatra App</h1>
<%= 5 + 5 %>
<%= "hello".upcase %>
<%# This is a comment in Ruby %>
<!-- This is an HTML comment  -->

<%# When using ERB blocks with no equal sign. The line won't display anything %>
<%# We use such blocks for things like flow control and loops %>
<% if 100 > 20 %>
  <h2>Hi There</h2>
<% end %>
